<div class="grid grid-cols-11 grid-rows-5 gap-3">
  <div class="col-span-9 row-span-5 col-start-2">
    <h1 style="font-weight: bold;">Ventas totales</h1>
    <br>
    <div class="relative overflow-x-auto">

      <label for="dia" class="block text-sm font-medium text-gray-700"
    >Selecciona un día:</label
  >
  <select
    id="dia"
    [(ngModel)]="diaSeleccionado"
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
  >
    <option value="lunes">Lunes</option>
    <option value="martes">Martes</option>
    <option value="miércoles">Miércoles</option>
    <option value="jueves">Jueves</option>
    <option value="viernes">Viernes</option>
    <option value="sábado">Sábado</option>
    <option value="domingo">Domingo</option>
  </select>

  <div *ngFor="let venta of ventasFiltradas">
    <p>{{ venta.nombreCliente }} Total ${{ venta.total }}</p>
  </div>
  <p *ngIf="ventasFiltradas.length > 0">
    Ventas totales del día ${{ totalVentas }}
  </p>
  <p *ngIf="ventasFiltradas.length === 0">
    No hay ventas para el día seleccionado.
  </p>
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Cliente</th>
            <th scope="col" class="px-6 py-3">Total</th>
          </tr>
        </thead>
        
        <tfoot>
          <tr class="font-semibold text-gray-900 dark:text-black">
            <th scope="row" class="px-6 py-2 text-base">Total</th>
            <td class="px-6 py-2">{{ totalVentas | currency }}</td>
          </tr>
        </tfoot>
      </table>
      <button
(click)="filtrarPorDia(diaSeleccionado)"
class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mt-5"
>
Ventas Totales
</button>
    </div>
  </div>
</div>
